body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: url('../img/riddle.jpg') no-repeat center center fixed;
    background-size: cover;
    color:#4e3d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.final-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #4e3d2d;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 #d3b692;
  }
  
  .note {
    margin: 20px auto;
  padding: 20px;
  background-color: #e5cda5;
  color: #161514;
  border: 2px solid #b59c77;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: left;
  background-image: url('../img/parchment.jpg'); /* Imagen de fondo de pergamino */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  }
  
 

  /* Código encriptado */
.code-container {
    margin: 30px 0;
    font-size: 1.2em;
  }
  
  /* Campo de entrada y botón */
#answer {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #b59c77;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    background-color: #e5cda5;
    color: #161514;
  }
  
  #verifyButton {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #d1a86c;
    color: #4e3d2d;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
    position: relative; /* Asegúrate de que el botón está en un contexto de posicionamiento */
    z-index: 10; /* Asegúrate de que el botón esté por encima de otros elementos */
  }

  #verifyButton:hover {
    background-color: #b98d58;
  }
  
  /* Estilos para el fondo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

/* Botón de cierre del modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.completion-screen {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}