body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('../img/fondo_nazca.jpg'); /* Fondo con motivos peruanos */
    background-size: cover;
    background-attachment: fixed;
    color: #333333;
}

.nazca-container {
    display: flex;
    justify-content: space-between;
}

.pieces {
    display: flex;
    flex-wrap: wrap; /* Permite que las piezas se ajusten a varias filas */
    width: 30%;
}

.piece {
    width: 100px; /* Ajusta el tamaño de las piezas */
    height: 100px; /* Asegúrate de que la altura sea la misma que el ancho para mantener la forma cuadrada */
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid #333333;
    border-radius: 5px;
}

.dropzone {
    margin: 100px;
    width: 500px;
    height: 300px; 
    border: 2px dashed #007bff;
    background-color: #ffffff;
    position: relative;
    overflow: hidden; /* Asegúrate de que las piezas no se desborden */
    display: flex; /* Establecer display como flex para usar propiedades de flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Alinea el texto al centro */
}


.dropzone p {
    color: #007bff;
    margin: 0; /* Asegúrate de que no haya margen alrededor del texto */
}

.dropzone.over {
    background-color: #e7f1ff;
}

.timer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    background-color: #ffe4b5; /* Color de fondo cálido */
    padding: 10px;
    border: 3px solid #ff6347; /* Bordes decorativos */
    border-radius: 10px;
    color: #8b4513; /* Color de texto oscuro */
    font-family: 'Andina', sans-serif; /* Usa una fuente peruana o similar si está disponible */
    text-align: center;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 3px solid #ff6347;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Andina', sans-serif; /* Usa una fuente inspirada en la cultura peruana */
    color: #8b4513;
    display: none;
}

#restartButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #ff4500;
}

/* Añadir sombra a las piezas y dropzone */
.pieces .piece,
.dropzone {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



